h3{
  text-align: center;
  font-size: 25px;
  margin-top: 5%;
}
:host{
  background-color: rgba(243, 243, 243, 0.199);
  box-shadow: -10px 0px 13px -7px #0000001a, 10px 0px 13px -7px #0000001a, 5px 5px 15px 5px #0000001a;
  height: 80vh;
}
