mat-card{
  background: linear-gradient(333deg, rgba(243,246,255,1) 0%, rgba(221,233,235,1) 19%, rgba(242,242,242,1) 84%, rgba(221,220,220,1) 100%);
}

.title{
  text-align: center;
}

h4{
  margin-left: 3%;
}

div.code{
  width: 95%;
  background-color: #fff;
  margin: auto;
}

.result{
  margin-top: 5%;
}

.mt-3{
  margin-top: 2.5em !important;
}

.mb-3{
  margin-bottom: 2.5em !important;
}

