<mat-card>
  <mat-card-title class="title">Ejecicios</mat-card-title>
  <mat-divider></mat-divider>
  <section class="mt-3 mb-3">
    <mat-card-subtitle>Ejercicio 1</mat-card-subtitle>
    <h4>Datos muesta:</h4>
    <div class="code" fxLayout="row">
      <code>
        datos = {{ datos | json }}
      </code>
    </div>
    <div class="result" fxLayout="row">
      <h4>Resultado:</h4>
    </div>
    <div class="code" fxLayout="row">
      <code>
        resultado = {{ result | json }}
      </code>
    </div>
  </section>
  <section class="mt-3">
    <mat-card-subtitle>Ejercicio 2</mat-card-subtitle>
    <h4>Datos muesta:</h4>
    <div class="code" fxLayout="row">
      <code>
        datos = {{ obj | json }}
      </code>
    </div>
    <div class="result" fxLayout="row">
      <h4>Resultado:</h4>
    </div>
    <div class="code" fxLayout="row">
      <code>
        resultado = {{ arrayResult | json }}
      </code>
    </div>
  </section>

</mat-card>
