mat-card{
  // background: linear-gradient(333deg, rgba(243,246,255,1) 0%, rgba(221,233,235,1) 19%, rgb(242, 242, 242) 84%, rgb(220, 221, 221) 100%);
}
h2{
  text-align: center;
}

section{
  width: 40%;
  margin: auto;
}

button{
  display: block;
  margin: auto;
}
